.container {
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem;

  h1 {
    font-family: $fontFamilySecondary;
    width: 4.5rem;
    line-height: 1.375rem;
  }
}

.image {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 2px;
  position: relative;

  &::before {
    animation: backgroundAnimation 3s infinite linear;
    background: linear-gradient(
      90deg,
      $colorPink-500 0%,
      $colorViolet-500 100%
    );
    content: '';
    height: 50%;
    position: absolute;
    left: initial;
    width: 134%;
  }

  > img {
    position: relative;
    background: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.125rem;
  }

  @keyframes backgroundAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
